/* About me part and animation */
.about{
    display:inline-flex;
}
#about-text{
    height: 600px;
    width:700px;
    margin-left: 280px;
    font-size: 25px;
    margin-top: 130px;
}
#about-image{
    margin-left: 100px;
    animation-name: aboutImage;
    animation-duration: 5s;
}

.download-cv{
    height: 40px;
    background-color: dimgrey;
}
@keyframes aboutImage{
    from{
        width: 500px;
        height:700px
    }
    to{
        width: 600px;
        height: 900px;
    }
}
.imageAbout{
    animation-name: imageDelay;
    animation-duration: 10s;
    background-color: rgb(2, 2, 51);
    margin-top: 50px;
}
@keyframes imageDelay{
    from{
        width: 500px;
        height:700px
    }
    to{
        width: 600px;
        height: 600px;
    }

}

@media only screen and (max-width: 600px) {
    .about {
      display: block;
      min-height: auto;
    }
    #about-text {
      height: 300px;
      position: absolute;
      bottom: 0;
      width: 230px;
      padding-right: 50px;
      margin-right: 200px;
      font-size: 20px;
    }
  }
  
    

/* .............................. */
body{
    background: linear-gradient(to bottom, rgb(32, 32, 66), rgb(29, 4, 4));
    color: rgb(148, 148, 143);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;

}

.nav{
  
    list-style-type: none;
  margin: 0;
  padding: 0;
  color: aliceblue;
  height: 300px;
  background-color: rgb(10, 31, 49);
  width: 50px;
  margin-left: 1840px;
  margin-top: -500px;
  position: fixed;
  
}


  li a:hover {
  
    color: white;
  }


  .nav li a {
    display: block;
    width: 880px;
    color: aliceblue;
    line-height: 50px; 
    margin-left: 20px;
}

/* Information about me  */
.info-about{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

#info-text{
    margin-left: 300px;
    width: 560px;
}
.information{
    height: 180px;
    width: 270px;
    border: 2px solid  whitesmoke;

    margin-right: 30px;
}
.information {
 
    box-shadow: 0 0 0 0 transparent; 
  }
  
  .progress{
    margin-left: 200px;
    margin-top: 40px;
  }

  .education{
    height: 130px;
    width: 400px;
    background-color: rgb(42, 79, 146);
    font-size: 14px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 410px;
    padding-left: 30px;
  }
  .vl {
    border-left: 6px solid rgb(231, 230, 240);
    height: 500px;
    margin-left: 30px;
  }
  #icon{
    margin-top: -700px;
    padding-top: -200px;
    width: 100px;
  }
  .education2{
    height: 130px;
    width: 420px;
    background-color: rgb(42, 79, 146);
    font-size: 14px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    padding-left: 30px;
    margin-top: 300px;
  }
  .information3{
    height: 150px;
    width: 270px;
  

    margin-right: 30px;
    background-color: rgb(19, 19, 61);
    margin-left: 400px;
    margin-top: 190px;
    border-radius: 5%;
}
#form{
    width: 600px;
    height: 30px;
}
#form1{
    width: 600px;
    height: 30px;
    margin-top: 30px;
}
#form-button{
    background-color: rgb(19, 19, 61);
    height: 30px;
    width: 200px;
    color: aliceblue;
    border-radius: 5%;
}
#w3review{
    width: 600px;
    height: 100px;
    margin-bottom: 30px;
    

}
.footer{
    height:200px;
    width: 1900px;
    background-color:rgb(19, 19, 61);
    margin-top: 140px;
}
/* .foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   margin-left: 800px;
  }
  
  .footter1{
    float: left;
  }
  
  .footter1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: -30px;
  }
  
  /* Change the link color to #111 (black) on hover */
/* .footter1 a:hover {
    background-color: #111;
  } */


  .protfoilo{
    height: 400px;
    background-color: rgb(19, 19, 61);
    margin-left: 230px;
  }
  .protfoilo1{
    height: 400px;
    background-color: rgb(19, 19, 61);
    margin-left: 50px;
  }
  .protfoilo-btn{
    height: 40px;
    width: 130px;
    background-color: rgb(41, 162, 218);
    margin-left: 50px;
  }
  .protfoilo-btn1{
    height: 40px;
    width: 130px;
    background-color: rgb(41, 162, 218);
    margin-left: 30px;
  }